In [1]:
import sys
import os
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
from matplotlib.table import table
import csv

In [2]:
# File paths
obsgwllocations = r'C:/Users/betebari/Documents/C2VSimFG_monitoring_wells/downloaded data/CorcoranMWs.csv'
obsgwllocationsAClay = r'C:/Users/betebari/Documents/C2VSimFG_monitoring_wells/downloaded data/AClay_MWs.csv'
obsgwllocationsCClay = r'C:/Users/betebari/Documents/C2VSimFG_monitoring_wells/downloaded data/CClay_MWs.csv'
obsgwllocationsMidTulare= r'C:/Users/betebari/Documents/C2VSimFG_monitoring_wells/downloaded data/MWs_MidTulareClaystone_Depth2top_thickness.csv'
obsgwllocationsAmnicola= r'C:/Users/betebari/Documents/C2VSimFG_monitoring_wells/downloaded data/MWs_AmnicolaClaystone_Depth2top_thickness.csv'

# Load the CSV files into DataFrames
df_Corcoran = pd.read_csv(obsgwllocations)
df_Aclay = pd.read_csv(obsgwllocationsAClay)
df_Cclay = pd.read_csv(obsgwllocationsCClay)
df_MidTulareClay = pd.read_csv(obsgwllocationsMidTulare)
df_AmnicolaClay = pd.read_csv(obsgwllocationsAmnicola)

# Combine the DataFrames
# Assuming all files have the same structure
combined_df = pd.concat([df_Corcoran, df_Aclay, df_Cclay,df_MidTulareClay,df_AmnicolaClay], ignore_index=True)

# Save the combined DataFrame to a new CSV file
output_path = r'C:/Users/betebari/Documents/C2VSimFG_monitoring_wells/combined_monitoring_wells.csv'
combined_df.to_csv(output_path, index=False)

print(f"Combined database saved to: {output_path}")

Combined database saved to: C:/Users/betebari/Documents/C2VSimFG_monitoring_wells/combined_monitoring_wells.csv

In [3]:
# measurements foem CASEGM ; released by Tad Bedegrew  on OpenData/OSWCR 11/04/2024
measurements = r'C:/Users/betebari/Documents/C2VSimFG_monitoring_wells/downloaded data/measurements.csv'

df_gwl = pd.read_csv(measurements, encoding='utf-8-sig')

df_gwl.head()

C:\Users\betebari\AppData\Local\Temp\ipykernel_14484\283920920.py:4: DtypeWarning: Columns (7,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_gwl = pd.read_csv(measurements, encoding='utf-8-sig')

,site_code,msmt_date,wlm_rpe,wlm_gse,gwe,gse_gwe,wlm_qa_desc,wlm_qa_detail,wlm_mthd_desc,wlm_acc_desc,wlm_org_name,coop_org_name,monitoring_program,basin_code,county_name,well_use,source,msmt_cmt
0,320000N1140000W001,2024-05-30 00:00:00,545.92,545.92,163.92,382.0,Good,NaN,Electric sounder measurement,0.01 Ft,Monterey Peninsula Water Management District,Monterey Peninsula Water Management District,VOLUNTARY,NaN,Monterey,Residential,DWR_DISCRETE,off
1,320000N1140000W001,2024-04-25 00:00:00,545.92,545.92,132.82,413.1,Good,NaN,Electric sounder measurement,0.01 Ft,Monterey Peninsula Water Management District,Monterey Peninsula Water Management District,VOLUNTARY,NaN,Monterey,Residential,DWR_DISCRETE,on
2,320000N1140000W001,2023-11-30 14:59:00,545.92,545.92,122.82,423.1,Good,NaN,Electric sounder measurement,0.01 Ft,Monterey Peninsula Water Management District,Monterey Peninsula Water Management District,VOLUNTARY,NaN,Monterey,Residential,DWR_DISCRETE,test
3,320000N1140000W001,2023-10-26 16:08:00,545.92,545.92,162.42,383.5,Good,NaN,Electric sounder measurement,0.01 Ft,Monterey Peninsula Water Management District,Monterey Peninsula Water Management District,VOLUNTARY,NaN,Monterey,Residential,DWR_DISCRETE,NaN
4,320000N1140000W001,2023-09-28 00:00:00,545.92,545.92,160.92,385.0,Good,NaN,Electric sounder measurement,0.01 Ft,Monterey Peninsula Water Management District,Monterey Peninsula Water Management District,VOLUNTARY,NaN,Monterey,Residential,DWR_DISCRETE,off

In [4]:
# Merge df_gwl and df_loc on 'site_code'
merged_df = pd.merge(df_gwl, combined_df, on='site_code', how='inner')
merged_df.head()

,site_code,msmt_date,wlm_rpe,wlm_gse,gwe,gse_gwe,wlm_qa_desc,wlm_qa_detail,wlm_mthd_desc,wlm_acc_desc,...,thickness_Aclay,OBJECTID__,Cclay_base_altitude,thickness_Cclay,Field1,ObsName,MidTulareClay_Depth2top,MidTulareClay_Thickness,AmnicolaClaystone-Depth2top,AmnicolaClaystone-thickness
0,350033N1189366W001,2024-03-22 09:00:00,961.19,961.03,158.89,802.14,Good,NaN,Electric sounder measurement,0.1 Ft,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,350033N1189366W001,2023-10-26 09:00:00,961.19,961.03,159.99,801.04,Good,NaN,Electric sounder measurement,0.1 Ft,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,350033N1189366W001,2023-02-02 09:00:00,961.19,961.03,155.39,805.64,Good,NaN,Electric sounder measurement,0.1 Ft,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,350033N1189366W001,2022-11-15 08:00:00,961.19,961.03,148.19,812.84,Good,NaN,Electric sounder measurement,0.1 Ft,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,350033N1189366W001,2022-04-27 09:10:00,961.19,961.03,147.09,813.94,Good,NaN,Electric sounder measurement,0.1 Ft,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# measurements from CASEGM ; released by Tad Bedegrew  on OpenData/OSWCR 11/04/2024
perforations = r'C:/Users/betebari/Documents/C2VSimFG_monitoring_wells/downloaded data/perforations.csv'

df_perf = pd.read_csv(perforations, encoding='utf-8-sig')

df_perf.head()

            site_code  top_prf_int  bot_prf_int
0  320000N1140000W001        230.0        374.0
1  325536N1170608W001        260.0        280.0
2  325910N1170835W006         45.0         65.0
3  326821N1171124W006         20.0         25.0
4  327378N1170722W001        140.0        160.0

In [6]:
# Merge df_perf and merged_df on 'site_code'
merged_df = pd.merge(df_perf, merged_df, on='site_code', how='inner')
merged_df.head()

,site_code,top_prf_int,bot_prf_int,msmt_date,wlm_rpe,wlm_gse,gwe,gse_gwe,wlm_qa_desc,wlm_qa_detail,...,thickness_Aclay,OBJECTID__,Cclay_base_altitude,thickness_Cclay,Field1,ObsName,MidTulareClay_Depth2top,MidTulareClay_Thickness,AmnicolaClaystone-Depth2top,AmnicolaClaystone-thickness
0,350033N1189366W001,651.0,1220.0,2024-03-22 09:00:00,961.19,961.03,158.89,802.14,Good,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,350033N1189366W001,651.0,1220.0,2023-10-26 09:00:00,961.19,961.03,159.99,801.04,Good,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,350033N1189366W001,651.0,1220.0,2023-02-02 09:00:00,961.19,961.03,155.39,805.64,Good,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,350033N1189366W001,651.0,1220.0,2022-11-15 08:00:00,961.19,961.03,148.19,812.84,Good,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,350033N1189366W001,651.0,1220.0,2022-04-27 09:10:00,961.19,961.03,147.09,813.94,Good,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Convert existing columns to numeric, forcing errors to NaN if conversion fails
numeric_columns = ['wlm_gse', 'top_prf_int', 'bot_prf_int', 'Depth_2top_Eclay', 'Thickness_Eclay',
                   'thickness_Aclay', 'Aclay_base_altitude', 'thickness_Cclay', 'Cclay_base_altitude',
                  'MidTulareClay_Depth2top','MidTulareClay_Thickness','AmnicolaClaystone-Depth2top','AmnicolaClaystone-thickness'
                  ]
merged_df[numeric_columns] = merged_df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Perform calculations
merged_df['altitude_top_prf'] = merged_df['wlm_gse'] - merged_df['top_prf_int']
merged_df['altitude_bot_prf'] = merged_df['wlm_gse'] - merged_df['bot_prf_int']

merged_df['altitude_top_EClay'] = merged_df['wlm_gse'] - merged_df['Depth_2top_Eclay']
merged_df['altitude_base_EClay'] = (merged_df['wlm_gse'] - merged_df['Depth_2top_Eclay'] 
                                    - merged_df['Thickness_Eclay'])

merged_df['altitude_top_Aclay'] =  merged_df['Aclay_base_altitude']+ merged_df['thickness_Aclay']

merged_df['altitude_top_Cclay'] =  merged_df['Cclay_base_altitude'] + merged_df['thickness_Cclay']

merged_df['altitude_top_MidTulareClay'] = merged_df['wlm_gse'] - merged_df['MidTulareClay_Depth2top']
merged_df['altitude_base_MidTulareClay'] = (merged_df['wlm_gse'] - merged_df['MidTulareClay_Depth2top'] 
                                    - merged_df['MidTulareClay_Thickness'])

merged_df['altitude_top_AmnicolaClaystone'] = merged_df['wlm_gse'] - merged_df['AmnicolaClaystone-Depth2top']
merged_df['altitude_base_AmnicolaClaystone'] = (merged_df['wlm_gse'] - merged_df['AmnicolaClaystone-Depth2top'] 
                                    - merged_df['AmnicolaClaystone-thickness'])

print("Calculations completed successfully.")

Calculations completed successfully.

In [8]:
# Convert columns to numeric, forcing errors to NaN (in case there are any non-numeric values)
merged_df['top_prf_int'] = pd.to_numeric(merged_df['top_prf_int'], errors='coerce')
merged_df['Depth_2top_Eclay'] = pd.to_numeric(merged_df['Depth_2top_Eclay'], errors='coerce')
merged_df['Thickness_Eclay'] = pd.to_numeric(merged_df['Thickness_Eclay'], errors='coerce')

merged_df['altitude_top_EClay'] = pd.to_numeric(merged_df['altitude_top_EClay'], errors='coerce')
merged_df['altitude_base_EClay'] = pd.to_numeric(merged_df['altitude_base_EClay'], errors='coerce')

merged_df['altitude_top_Aclay'] = pd.to_numeric(merged_df['altitude_top_Aclay'], errors='coerce')
merged_df['Aclay_base_altitude'] = pd.to_numeric(merged_df['Aclay_base_altitude'], errors='coerce')

merged_df['altitude_top_Cclay'] = pd.to_numeric(merged_df['altitude_top_Cclay'], errors='coerce')
merged_df['Cclay_base_altitude'] = pd.to_numeric(merged_df['Cclay_base_altitude'], errors='coerce')

merged_df['altitude_top_MidTulareClay'] = pd.to_numeric(merged_df['altitude_top_MidTulareClay'], errors='coerce')
merged_df['altitude_base_MidTulareClay'] = pd.to_numeric(merged_df['altitude_base_MidTulareClay'], errors='coerce')

merged_df['altitude_top_AmnicolaClaystone'] = pd.to_numeric(merged_df['altitude_top_AmnicolaClaystone'], errors='coerce')
merged_df['altitude_base_AmnicolaClaystone'] = pd.to_numeric(merged_df['altitude_base_AmnicolaClaystone'], errors='coerce')

# Apply the condition to set 'Eclay' column
merged_df['Eclay'] = merged_df.apply(
    lambda row: "Perf_shallower" if row['top_prf_int'] >= (row['Depth_2top_Eclay'] + row['Thickness_Eclay']) else "Perf_deeper",
    axis=1
)

merged_df.head()

,site_code,top_prf_int,bot_prf_int,msmt_date,wlm_rpe,wlm_gse,gwe,gse_gwe,wlm_qa_desc,wlm_qa_detail,...,altitude_bot_prf,altitude_top_EClay,altitude_base_EClay,altitude_top_Aclay,altitude_top_Cclay,altitude_top_MidTulareClay,altitude_base_MidTulareClay,altitude_top_AmnicolaClaystone,altitude_base_AmnicolaClaystone,Eclay
0,350033N1189366W001,651.0,1220.0,2024-03-22 09:00:00,961.19,961.03,158.89,802.14,Good,NaN,...,-258.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Perf_deeper
1,350033N1189366W001,651.0,1220.0,2023-10-26 09:00:00,961.19,961.03,159.99,801.04,Good,NaN,...,-258.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Perf_deeper
2,350033N1189366W001,651.0,1220.0,2023-02-02 09:00:00,961.19,961.03,155.39,805.64,Good,NaN,...,-258.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Perf_deeper
3,350033N1189366W001,651.0,1220.0,2022-11-15 08:00:00,961.19,961.03,148.19,812.84,Good,NaN,...,-258.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Perf_deeper
4,350033N1189366W001,651.0,1220.0,2022-04-27 09:10:00,961.19,961.03,147.09,813.94,Good,NaN,...,-258.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Perf_deeper

In [10]:
# Convert `msmt_date` to datetime format with error handling for inconsistent formats
merged_df['msmt_date'] = pd.to_datetime(merged_df['msmt_date'], errors='coerce', infer_datetime_format=True)

# Ensure numeric conversion for relevant columns
for col in ['altitude_top_prf', 'altitude_top_EClay', 'altitude_base_EClay', 'wlm_gse', 'altitude_bot_prf', 'gse_gwe',
           'altitude_top_Cclay','Cclay_base_altitude','altitude_top_Aclay','Aclay_base_altitude',
            'altitude_top_MidTulareClay','altitude_base_MidTulareClay','altitude_top_AmnicolaClaystone',
            'altitude_base_AmnicolaClaystone',
           ]:
    merged_df[col] = pd.to_numeric(merged_df[col], errors='coerce')

# Drop rows with NaT in `msmt_date` (optional, if you want to ignore rows with invalid dates)
merged_df = merged_df.dropna(subset=['msmt_date'])

# Create a PDF file to save the plots
with PdfPages('GoundwaterElevations_Perforations_ConfiningUnits_plots.pdf') as pdf:
    # Group data by `site_code` and create a time series plot for each group
    for site, group_data in merged_df.groupby('site_code'):
        plt.figure(figsize=(10, 6))

        # Main groundwater elevation plot
        plt.plot(group_data['msmt_date'], group_data['gse_gwe'], marker='o', linestyle='-', label=f'Site: {site} (gse_gwe)')

        # Dashed line for `wlm_gse` in blue with linewidth 1.5
        plt.plot(group_data['msmt_date'], group_data['wlm_gse'], linestyle='--', color='blue', linewidth=1.5, label='wlm_gse')

        # Dashed line for `top_prf_int` in green with linewidth 1
        plt.plot(group_data['msmt_date'], group_data['altitude_top_prf'], linestyle='--', color='green', linewidth=3, label='altitude_top_prf')

        # Dashed line for `bot_prf_int` in red with linewidth 0.8
        plt.plot(group_data['msmt_date'], group_data['altitude_bot_prf'], linestyle='--', color='red', linewidth=3 , label='altitude_bot_prf')

        # Solid line with square markers for `Depth to the Top of Corcoran`
        plt.plot(group_data['msmt_date'], group_data['altitude_top_EClay'], linestyle='--', marker='s', color='brown', linewidth=2, label='altitude_top_Eclay')

        # Solid line with triangle markers for `Depth to the Base of Corcoran`
        plt.plot(group_data['msmt_date'], group_data['altitude_base_EClay'], linestyle='--', marker='s', color='brown', linewidth=2, label='altitude_base_Eclay')        
       
        # Solid line with square markers for `Depth to the Top of Cclay`
        plt.plot(group_data['msmt_date'], group_data['altitude_top_Cclay'], linestyle='--', marker='*', color='green', linewidth=2, label='altitude_top_Cclay')

        # Solid line with square markers for `Depth to the Base of Cclay`
        plt.plot(group_data['msmt_date'], group_data['Cclay_base_altitude'], linestyle='--', marker='*', color='green', linewidth=2, label='Cclay_base_altitude')

        # Solid line with square markers for `Depth to the Top of Aclay`
        plt.plot(group_data['msmt_date'], group_data['altitude_top_Aclay'], linestyle='--', marker='o', color='red', linewidth=2, label='altitude_top_Aclay')

        # Solid line with square markers for `Depth to the Base of Aclay`
        plt.plot(group_data['msmt_date'], group_data['Aclay_base_altitude'], linestyle='--', marker='o', color='red', linewidth=2, label='Aclay_base_altitude')

        # Solid line with square markers for `Depth to the Top of MidTulare claystone`
        plt.plot(group_data['msmt_date'], group_data['altitude_top_MidTulareClay'], linestyle='--', marker='o', color='black', linewidth=2, label='MidTulareClay_base_altitude')
        
        # Solid line with square markers for `Depth to the Base of MidTulare claystone`
        plt.plot(group_data['msmt_date'], group_data['altitude_base_MidTulareClay'], linestyle='--', marker='o', color='black', linewidth=2, label='MidTulareClay_base_altitude')

        # Solid line with square markers for `Depth to the Top of Amnicola claystone`
        plt.plot(group_data['msmt_date'], group_data['altitude_top_AmnicolaClaystone'], linestyle='--', marker='o', color='blue', linewidth=2, label='AmnicolaClay_base_altitude')
        
        # Solid line with square markers for `Depth to the Base of Amnicola claystone`
        plt.plot(group_data['msmt_date'], group_data['altitude_base_AmnicolaClaystone'], linestyle='--', marker='o', color='blue', linewidth=2, label='AmnicolaClay_base_altitude')

        # Add title with `Eclay` as part of the title
        eclay_label = group_data['Eclay'].iloc[0] if 'Eclay' in group_data.columns else 'N/A'
        plt.title(f'Groundwater Elevation Time Series for Site {site} - Eclay: {eclay_label}')

        # Set labels and other plot settings
        plt.xlabel('Date')
        plt.ylabel('Groundwater Elevation (gse_gwe)')
        plt.legend()
        plt.grid(True)
        plt.tight_layout()  # Ensures the layout fits well
               
        # Save the current figure to the PDF
        pdf.savefig()  # This saves the current figure to the PDF
        plt.close()    # Close the figure to free memory

print("Plots have been saved to 'groundwater_elevation_plots.pdf'")

C:\Users\betebari\AppData\Local\Temp\ipykernel_14484\1082775602.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  merged_df['msmt_date'] = pd.to_datetime(merged_df['msmt_date'], errors='coerce', infer_datetime_format=True)

Plots have been saved to 'groundwater_elevation_plots.pdf'